*{
    margin: 0;
    box-sizing: border-box;
}
@media screen and (max-width:375px) {
    body{
        width: 100%;
        margin: auto;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .hidden-on-desktop{
        display: block;
        text-align: center;
        border: 1px solid gray;
        background-color: aqua;
        padding: 10px 0;
        color: #4b4b4b;
        width: 100%;
    }

    .hidden-on-desktop a {
        text-decoration: none;
    }

    h1 {
        text-align: center;
        padding: 0;
        font-size: 50px;
        font-family: "Roboto Light", sans-serif ;
    }

    ul {
         display: block;
        text-align: center;




    }

    li {
        background-color: lightgray;
        list-style: none;
        padding: 10px;
        margin-top: 10px;
        width: 100%;

    }
    nav {
        margin-bottom: 10px;
    }

    .nav-links{
        padding-left: 0px;
    }
    .nav-links a {
        text-decoration: none;
    }

    .header-img {
        width: auto;
    }
    .header-img img{
        width: 100%
    }

    footer {
        padding-top: 61px;
        min-height: 50px;
        display: inherit;
        flex-wrap: wrap;
        flex-basis: 100%;
        font-size: 14px;
        margin-bottom: 10px;
    }

    h2 {
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: "Roboto Light", sans-serif;
    }

    p {
        display: inline-block;
    }

    .sub-section {
        font-style: italic;
        margin-top: 25px;
    }

    .sub-section h2 {
        font-size: 17px;
        margin-bottom: 5px;
    }


    }





@media screen and (min-width:701px) {

    .body {

    }

}